    body{
        opacity:0.9;
        width:100%;
        
        color:yellow;
        background-size: 100% 100%;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #layout{
        background-color:white;
        color:black;
        overflow:auto;
    }
    
    #content{
        margin: 0 auto;
    }
    
    #layoutDiv {
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:10px;
        overflow:auto;
    }