    body{
        opacity:0.9;
        width:100%;
        text-align: center;
        color:yellow;
    }
    
    input {
        font-size: 2em;
        color: black;
        border-radius:20px;
    }
    
    #layout {
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:10px;
        overflow:auto;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
    #carouselExampleIndicators{
        width:700px;
        margin:0 auto;
    }