            
.error{
    color: red;
}
            
form {
    border: 2.5px solid black;
    padding: 25px;
    background-color: skyblue;
}
            
body {
    padding-top: 25px;
    width: 50%;
    background-color: lightblue;
    text-align: center;
    margin-left: 25%;
}

input {
    margin-top: 5px;
}

h1 { 
    text-shadow: 1px 1px #FF0000;
    font-size: 3.5em;
}