            body {
                background-color: powderblue;
                color: black;
            }
            
            header, main, nav, footer{
                text-align:center;
                display:flex;
                justify-content:center;
            }
            
            #main{
                text-align:center;
                margin-top: 50px;
            }
            
            #header{
                padding-bottom: 50px;
                text-shadow: 2px 2px white;
                font-size: 72px;
            }
            
            #footer{
                padding-top: 50px;
                background-color: lightblue;
            }
            
            #diceRolls{
                padding-top: 15px;
                background-color: gray;
                font-size: 36px;
            }
            
            #refreshPage{
                width: 250px;
                height: 75px;
                font-size: 36px;
                margin-top: 25px;
                background-color: blue;
            }