            body {
                background-color: #000000;
                color: gray;
            }
            
            header, main, nav, footer{
                text-align:center;
                display:flex;
                justify-content:center;
            }
            
            header {
                color: green;
                text-shadow: 2px 1px red;
            }
            
            footer {
                margin-top: 25px;
            }
            
            nav a {
                padding: 15px;
                padding-bottom: 24px;
                font-size: 1.8em;
                text-decoration: none;
                color: white;
            }
            
            nav a:hover {
            	border-bottom: 2px orange solid;
            	font-size: 44px;
            	transition: .9s;
            	color: orange;
            }
            
            #content3 {
                width: 50%;
                margin-left: 25%;
                text-align:center;
                letter-spacing: .2px;
            }
            
            .page1mainText {
                text-align: center;
            }
            
            #page2mainText {
                text-align: center;
            }
            
            #logoHeader {
                padding-right: 15px;
            }
            
            #oldGoLogoDiv {
                float: left;
                content:center;   
            }